<div class="badge">

<div class="badge__label">
  The Inequality Project is supported by
</div>
<a class="badge__link" href="https://www.fordfoundation.org/" data-sponsor="ford foundation" rel="nofollow">

    <img src="https://static.theguardian.com/commercial/sponsor/20/Apr/2017/6501f18d-6803-4540-88e8-b3187bbf195a-F_F_Logo_Stacked_FullColor.png" alt="Ford Foundation" class="badge__logo">

</a>
    <a href="https://www.theguardian.com/inequality/2017/apr/25/inequality-project-guardian-in-depth-look-unequal-world-equality" class="badge__help">About this content</a>
</div>
