.interactive-atom {
  .grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    overflow: hidden;
  }

  .grid-wrapper > * {
    flex: 1 100%;
    outline: 4px solid #EAEAEA;
    background-color: #000;
    overflow: hidden;
    position: relative;
  }

  .grid-1 {

  }

  .grid-2 {
    
  }

  .grid-3 {
    
  }

  .grid-4 {
    
  }

  .grid-5 {
    
  }

  @include mq($from: mobile) {
    .grid-share {
      flex: 1 40%;
      max-width: 50%;
    }
    .grid-share-2 {
      flex: 1 40%;
      max-width: 50%;
    }
  }

  @include mq($from: desktop) {
    .grid-share {
      flex: 1 100%;
      max-width: 640px;
    }
    .grid-share-2 {
      flex: 1 10%;
    }

    .grid-1    {
      order: 2;
      flex: 1 60%;
    }
    .grid-2    {
      order: 1;
      flex: 1 40%;
      max-width: 340px;
    }
    .grid-3    {
      order: 3;
    }
    .grid-4    {
      order: 4;
    }
    .grid-5    {
      order: 5;
    }
  }

  body {
    padding: 2em;
  }

}
