.interactive-atom {
  .grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  .grid-wrapper > * {
    padding: 10px;
    flex: 1 100%;
    outline: 4px solid #EAEAEA;
  }

  .grid-1 {
    background: tomato;
  }

  .grid-5 {
    background: lightgreen;
  }

  .grid-2 {
    text-align: left;
    background: deepskyblue;
  }

  .grid-3 {
    background: gold;
  }

  .grid-4 {
    background: hotpink;
  }

  @include mq(mobile) {
    .grid-secondary { flex: 2 auto; }
    .grid-2    { order: 1; }
  }

  @include mq(desktop) {
    .grid-2    { flex: 3 0px; }
    .grid-3    { order: 1; }
    .grid-2    { order: 2; }
    .grid-4    { order: 3; }
    .grid-5    { order: 4; }
  }

  body {
    padding: 2em;
  }

}
