.interactive-atom {
  .grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    overflow: hidden;
  }

  .grid-wrapper > * {
    flex: 1 100%;
    outline: 4px solid #EAEAEA;
    box-sizing: border-box;
    background-color: #000;
    overflow: hidden;
    position: relative;
  }

  .grid-1 {
    display: none;
  }

  .grid-2 {
    order: 5;
  }

  .grid-3 {

  }

  .grid-4 {
  }

  .grid-5 {
  }

  .grid-portrait {
    flex: 1 1 50%;
  }

  @include mq($from: tablet) {
    .grid-portrait {
      flex: 1 1 33.33333%;
    }
    .grid-2    {
      order: 2;
      flex: 1 1 33.33333%;
    }
    .grid-3    {
      order: 1;
    }
    .grid-4    {
      order: 3;
    }
    .grid-5    {
      order: 4;
    }
  }

  @include mq($from: desktop) {
    .grid-portrait {
      flex: 1 1 30%;
    }
    .grid-2    {
      order: 2;
      flex: 1 1 40%;
    }
    .grid-3    {
      order: 1;
      flex: 1 1 100%;
    }
  }


  @include mq($from: leftCol) {
    .grid-portrait {
      flex: 1 1 330px;
    }

    .grid-1    {
      display: flex;
      order: 2;
      flex: 1 1 800px;
    }
    .grid-2    {
      order: 1;
      flex: 1 1 500px;
    }
    .grid-3    {
      order: 3;
      flex: 1 1 640px;
    }
    .grid-4    {
      order: 4;
    }
    .grid-5    {
      order: 5;
    }
  }

}
