.gv-subheader {
  width: 100%;
  height: 0;
  overflow: visible;
  position: relative;
}

.gv-subheader-image {
  position: absolute;
  top: 0px;
  right: 0px;
}

.gv-subheader-logo {
  position: absolute;
  top: 0px;
  right: 0px;
}
