<div class="gv-header-wrapper">
    <div class="int-desktop-only">
        <Video block={{videoBlock}} serverside={{serverside}} controls="false" loop="true" header="true"></Video>
    </div>
    <div class="int-mobile-only">
        <Image block={{pictureBlock}} serverside={{serverside}}></Image>
    </div>
    <div class="gv-header"></div>
      <div class="gv-headline__image">
          <h1 class='gv-headline'>{{block.copy}}</h1>
      </div>
</div>
<script>
const requireUncached = require('require-uncached');
const Image = requireUncached('../image/render.html');
const Video = requireUncached('../video/index.html');

export default {
    data() {
        return {
            videoBlock: {
                block: "video",
                mobileSrc: "https://interactive.guim.co.uk/2017/11/tower_videos/Tower_loop_1_1080.mp4",
                desktopSrc: "https://interactive.guim.co.uk/2017/11/tower_videos/Tower_loop_1_1080.mp4",
                weight: "grid",
                loop: true,
                poster: '<%= path %>/assets/poster.jpg'
            },
            pictureBlock: {
                "block": "photo",
                "weight": "immersive",
                "mobileSrc": `<%= path %>/assets/placeholder-header-mobile.png`,
                "desktopSrc": `<%= path %>/assets/placeholder-header-mobile.png`,
            }
        }
    },
    oncreate() {

    },
    components: {
        Image: Image,
        Video: Video
    },

}
</script>
