.gv-header-wrapper {
  margin: 0 auto;
  overflow: hidden;
  @include mq(tablet) {
    height: calc(100vw * (9/16));
  }

  .visual-element--video {
    z-index: 1000;
  }
}

.gv-header {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
}

.gv-header-wrapper::before {

}

.gv-headline__image {
  content: "";
  position: absolute;
  display: block;
  background: url('<%= path %>/assets/header-logo-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1001;
  width: 126px;
  height: 247px;
  right: 60%;
  top: 340px;


  @include mq($from: tablet) {
    background-size: 80px 300px;
    width: 80px;
    height: 481px;
    right: 36.5%;
  }

  @include mq($from: desktop) {
    background: url('<%= path %>/assets/header-logo.svg');
    background-size: contain;
    width: 244px;
    height: 140px;
    top: calc(12vw * (9/16));

  }
  @include mq($from: leftCol) {
    width: 278px;
    height: 260px;
  }

  @include mq($from: wide) {
    width: 316px;
    height: 183px;
  }
}

.gv-headline {
  visibility: hidden;
}
