.gv-header-wrapper {
  margin: 0 auto;
  overflow: hidden;
  height: calc(100vw * (9/16));

  .visual-element--video {
    z-index: 1000;
  }
}

.gv-header {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
}

.gv-header-wrapper::before {

}

.gv-headline__image {
  content: "";
  position: absolute;
  display: block;
  background: url('<%= path %>/assets/logo.svg');
  background-size: 55px 332px;
  background-repeat: no-repeat;
  z-index: 1001;
  width: 55px;
  height: 332px;
  right: 20%;

  @include mq($from: mobileMedium) {
    right: 25%;
  }
  @include mq($from: tablet) {
    background-size: 80px 481px;
    width: 80px;
    height: 481px;
  }
  @include mq($from: desktop) {
    top: 10px;
    right: 36.5%;
  }
}

.gv-standfirst  {
  content: "";
  position: relative;
  display: block;
  background: url('<%= path %>/assets/standfirst.svg');
  background-size: 142px 42px;
  background-repeat: no-repeat;
  z-index: 51;
  width: 142px;
  height: 42px;
  opacity: 0.6;
  top: -64px;

  @include mq($from: tablet) {
    left: 60%;
  }
  @include mq($from: desktop) {
    left: 65%;
  }
  @include mq($from: wide) {
    left: 70%;
  }
}
